body{
    font-family: 'Montserrat', sans-serif;
}
/* DEBUG  */

.container-fluid{
    width: 100vw;
    height: 100vh;
    
}


._clearfix._container{
    height: calc(100vh - 100px);
    width: 100%;
    /* overflow: hidden; */
}

aside{
    height: 100%;
    /* background-color: #080B12; */
    background-color: #cddc39;
    float: left;
     z-index: 2;
}

._principal{
    height: 100%;
    background-color: rgb(185, 185, 184);
    float: left;
}









/* UTILITY CLASSES  */

._clearfix::after{
    content:"";
    display: table;
    clear: both;
}
._col-12{
    width:100%;
}


._fixed-width{
    width: 200px;
}

._dynamic-width{
width: calc(100% - 200px);
}


    /* PRINCIPAL PART  */
        /* Header  */

        header{
            width: 100%;
            padding:2rem 0;
            background-color: #080B12;
            position: relative;
            z-index: 1;
            
        }

        header button {
            position:absolute;
            top:50%;
            right: 0;
            transform: translateY(-50%);
            padding: 0.3rem 2rem;
            margin-right:1rem;
            border:1px solid white;
            border-radius: 15px;
            background-color: inherit;
           
        }
        header button a{
            color: white;
        }


        /* /fixed top bar  */
        

        /* MAIN */
       main{
            width: 100%;
            /* height: 100%; */
            background-color: rgb(117, 155, 142);
            
        }

        /* 1° SECTION  */
        #first-section{
            padding:1.5rem 0;
            width: 100%;
        }
        #first-section div>a{
            color: #75777C;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8rem;
            padding-right: 1rem;
        }
        /* /1° SECTION  */
        
        /* ---------------- */
        div.sub-container{
            margin:0 1rem;
        }
        /* ---------------- */

        /* 2° SECTION  */
        #second-section{
            width: 100%;
        }
        #second-section .recently-paragraph{
            display: block;
     }
        /* /2° SECTION  */
       

        /* 3° SECTION  */
        #third-section{
            width: 100%;
        }
       
        #third-section .square{
            width: 100%;
            height: 100%;
        }
        .square .photo{
            height: 100%;
            width: 100%;
        }

        .square .photo>img{
            width: 100%;
            height: 100%;
            object-fit:scale-down;
        }

        





        /* /3° SECTION  */








        /* FOOTER BAR  */
        
        footer{
            height: 100px;
            background-color: rgb(207, 16, 16);
           
        }
        
        
        
        
        
        
        
        /* /FOOTER BAR  */


/* MEDIA QUERY  */

/* @media screen and (min-width:992px) {
    #third-section .photo{
        width: calc(100%/6);
        height: 100%;
    }
}


@media screen and (min-width:768px) and (max-width:991.98){
    #third-section .photo{
        width: calc(100%/4);
        height: 100%;
    }
} */




@Media screen and (max-width:576px){
    ._fixed-width-xs{
        width: 60px;
    }

    ._dynamic-width-xs{
        width: calc(100% - 60px);
    }

    /* #third-section .photo{
        width: calc(100%/2);
        height: 100%;
    } */
}