body{
    font-family: 'Montserrat', sans-serif;
}
/* DEBUG  */

.container-fluid{
    width: 100%;
    height: 100vh;
    padding:0;
    
}


._clearfix._container{
    width: 100%;
    /* overflow: hidden; */
}



._principal{
    height: calc(100vh - 60px);
 
    background-color: rgb(185, 185, 184);
    float: left;
    overflow-x: hidden;
    overflow-y: auto;

}









/* UTILITY CLASSES  */

._clearfix::after{
    content:"";
    display: table;
    clear: both;
}
._col-12{
    width:100%;
}

._pl-aside{
    padding-left: 1.5rem;
}

._fixed-width{
    width: 200px;
}

._dynamic-width{
width: calc(100% - 200px);
}
._color-silver{
    color: #797A7F;
}

 /*  -------- CARDS FORMATTING--------------- */


.square{
    width: 100%;
    height: auto;
   
   
}
.square .photo{
    width: 100%;
    height: 100%;
    position: relative;
    
   
}
.square h5,  .square p {
    width: 100%;
    height: auto;
    text-align: center;
}

.square h5{
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0.8rem;
    
}
.square p{
    font-size: 90%;
    color: #797A7F;
}

.square .photo>img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}
/*  -------- / CARDS FORMATTING--------------- */

/* ---------------HOVER PHOTO------------------  */  

.square .photo .tendina{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 100%;
width: 100%;
background-color: #0000005c;
display: none;
}

.square .tendina i{
content: "\f067";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 2.5rem;


}
.square .photo:hover .tendina{
display: block;
}

/* ---------------/HOVER PHOTO------------------  */

/* /3° SECTION  */

/* 4-5° SECTION  */
#fourth-section, #fifth-section{
width: 100%;
}      

#fourth-section .john-paragraph, #fifth-section .popular-paragraph{
  display: block;
  padding: 1rem 0;

}

#fourth-section p:last-of-type, #fifth-section p:last-of-type{
font-size: 90%;
color: #797A7F;
margin-bottom: 8px;
}


    /* ------ASIDE--------- */
    aside{
        /* height: calc(100vh - 60px); */
        height: calc(100vh - 60px);
        background-color: #080B12;
        float: left;
         z-index: 2;
    }
  
    .frame-flex{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }


        /* LOGO SIDE  */
        .logo-side .top-side, .middle-side, .bottom-side{
            width: 100%;
        }
       
        #logo-big{
            height: 45.19px;
            margin-left: -1rem;
            
            
        }
        #logo-small{
            height: 40px;
        }
       #iconcine{
            height: 30px;
            margin:0.4rem 0;
        }

        /* /LOGO SIDE  */

        /* TOP SIDE  (Rimangono valide le regole associate a "square")*/ 

        .photo-icon{
            width:16%;
            height: 100%;
        }
       
       .text-icon p{
            padding-left: 0.5rem;
            margin-bottom: 0;
        }
        
        .text-icon p:hover{
            color: white;
        }
                
        /* /TOP SIDE  */

        /* MIDDLE SIDE  */
      
        .middle-side {
            width: 100%;
            height: 40vh;
            overflow-y: auto;
            overflow-x: hidden;
        }
         

        .text-icon p{
            font-size: 1rem;
        }
               
        .nome-playlist p{
            font-size: 0.85rem;
        }

        .nome-playlist ul{
            padding-left:0;
        }
        .nome-playlist li{
            list-style: none;
    
        }
        
        .nome-playlist p:hover{
            color: white;
        }








        
        /* /MIDDLE SIDE  */















    /* -----/ASIDE--------- */





    























    /* PRINCIPAL PART  */
        /* Header  */

        header{
            width: 100%;
            background-color: #080B12;
            position: sticky;
            top: 0;
            right: 0;
            z-index: 1;         
            
        }

        header div{
            padding: 1.5rem 0;
            display: flex;
            justify-content: flex-end;
        }

        header button {
            margin-right:1rem;
            padding: 0.6rem 2rem;
            border:1px solid white;
            border-radius: 15px;
            
            background-color: inherit;

        }

        header button a{
            color: white;
            font-size: 0.9rem;
        }


        /* /fixed top bar  */
        

        /* MAIN */
       main{
            width: 100%;
            /* height: 100%; */
            background-color: #141922;
            
        }

        /* 1° SECTION  */
        #first-section{
            padding: 1rem 0 1.5rem 0;
            width: 100%;
            line-height: 2rem;
        }
        #first-section div>a{
            color: #797A7F;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8rem;
            padding-right: 1rem;
            text-align: center;
        }

        #first-section div{
            position:relative;
        }


        #first-section div>a:hover::before {
            content: "";
            display: inline-block;
            width: 30px;
            height: 2px;
            background-color: yellow;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }








        /* /1° SECTION  */
        
        /* ---------------- */
        div.sub-container{
            margin:0 1rem;
        }
        /* ---------------- */

        /* 2° SECTION  */
        #second-section{
            width: 100%;
        }
        #second-section .recently-paragraph{
            display: block;
            padding-bottom: 1rem;
     }
        /* /2° SECTION  */
       

        /* 3° SECTION  */
        
      
        #third-section{
            width: 100%;
        }

        /* /3° SECTION  */

                






        /* FOOTER BAR  */
        
        footer{
            height: 60px;
            width: 100%;
            background-color: #080B12;
            color:white;
            position: fixed;
            z-index: 5;

            padding-right: 5rem;

            
           
        }
        
        
        
        
        
        
        
        /* /FOOTER BAR  */


/* MEDIA QUERY  */

/* @media screen and (min-width:992px) {
    #third-section .photo{
        width: calc(100%/6);
        height: 100%;
    }
}


@media screen and (min-width:768px) and (max-width:991.98){
    #third-section .photo{
        width: calc(100%/4);
        height: 100%;
    }
} */




@Media screen and (max-width:576px){
    ._fixed-width-xs{
        width: 60px;
    }

    ._dynamic-width-xs{
        width: calc(100% - 60px);
    }

    #logo-small{
        margin-top:0.3rem;
        margin-bottom: 0.7rem;
    }
        
        
   

}